@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400);

body {
font: normal normal 13px/16px "Open Sans", sans-serif;
background: #dfdfdf;
}

.container{
padding: 20px;
width: 300px;
margin: 0 auto;
margin-top: 40px;
background: white;
border-radius: 5px;}

#inputBox.error {
    border: 1px solid red;
    background: rgba(204, 23, 10, 0.2);
    padding: 10px;
}

#inputBox.error label {
    padding-top: 5px;
    display: inline-block;
    font-style: italic;
}

form {
display: inline-block;
}

input{
padding: 4px 15px 4px 5px;
}

#button{
display: inline-block;
background-color:#fc999b;
color:#ffffff;
border-radius: 5px;
text-align:center;
margin-top:2px;
padding: 5px 15px;
}

#button:hover{
cursor: pointer;
opacity: .8;}

ol {padding-left: 20px;}

ol li {padding: 5px;color:#000;}

ol li:nth-child(even){background: #dfdfdf;}

.strike{
    text-decoration: line-through;
    color: #8f8f8f;
}

#list li {
    position: relative;
    transition: all 0.5s linear;
}

.deleteItem {
    padding: 0 4px 1px;
    border: 1px solid #b3b3b3;
    position: absolute;
    right: 4px;
    top: 4px;
    line-height: 1.2;
    color: #595959;
    transition: all 0.5s linear;
}

.deleteItem:hover {
    background-color: #fc999b;
    color: #fff;
}

li:hover{
  cursor: pointer;
 }

.delete {
	display: none;
}

li > crossOutButton {
	background: none;
	border: none;
	float: right;
	color: #025f70;
	font-weight: 800;
}